@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Darker Grotesque, sans-serif;
}

/* Color Pallette from https://coolors.co/51b5ea-9bd3f0-ede351-71bc78-ecccc2
{"Picton Blue":"51B5EA","Baby blue":"9BD3F0","Maize":"EDE351","Mantis":"71BC78","Pale Dogwood":"ECCCC2"}
*/

/*Nav Bar*/
.topbar {
  background-color: #51B5EA;
  position: relative;
  display: flex;
}

.topnav {
  background-color: #0C77BD;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  text-align: center;
  padding: 14px 16px;
  border: 1px solid #ECCCC2;
}

.topnav a {
  color: #FAFAFA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #EDE351;
  color: black;
}

.topnav .active {
  font-weight: bold;
}

/*Hero Content*/

.hero {
  position: relative;
  padding: 0;
  width: 100%;
}

.hero-overlay {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
/*  width: 90%;*/
  text-align: left;
  margin-left: 9.4%;
  margin-bottom: 4.7%;
  font-size:4vw;
  padding: 0px;
  line-height: 100%;
}

.hero-overlay2 {
  font-family: 'Helvetica', sans-serif;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
/*  width: 90%;*/
  text-align: left;
  margin-left: -.2%;
  margin-bottom: 0%;
  font-size:1.8vw;
  padding: 0px;
  line-height: 110%;
}

.hero-overlay3 {
  font-family: 'Karla', sans-serif;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
/*  width: 90%;*/
  text-align: left;
  margin-left: 65%;
  margin-bottom: -15%;
  font-size:7vw;
  padding: 0px;
  line-height: 100%;
}

.hero img {
  height: auto;
  opacity: 1;
}

.hero p {
  margin-left: 20px;
  margin-top: 0px;
  color: DimGrey;
}

.hero a {
  color: black;
}

/*Main Content*/
.content {
  font-family: 'Sarabun', sans-serif;
  position: relative;
  background-color: #FFFFFF;
  padding: 50px;
  padding-bottom: 10px;
  width: 80%;
  max-width: 1000px;
  margin: auto;
  line-height: 160%;
}

.content h2{
    font-family: 'Red Hat Display', sans-serif;
    line-height: 120%;
}

.content a {
  color: #000000;
}

.content a:hover {
  background-color: #EDE351;
  color: black;
}

.preview {
  border: 1px solid black;
}

.content button {
  background-color: #51B5EA;
  color: black;
  font-size: large;
  padding: 20px;
  border-radius: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.row1 {
  background-color: white;
  padding: 10px;
  flex: 50%;
}

.row2 {
  background-color: white;
  padding: 10px;
  flex: 50%;
}

.row3 {
  padding: 0px;
  flex: 25%;
}

.row4 {
  padding: 7.5px;
  flex: 75%;
}

/*Footer*/
.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #0C77BD;
  text-align: right;
  padding: 10px;
}

.footer a {
  color: #FAFAFA;
}

.footer a:hover {
  background-color: #EDE351;
  color: black;
}

/*PDF Viewer*/
iframe {
  width: 100%;
  height: 800px;
}
object {
  width: 100%;
  height: 800px;
}

#pdf {
  display: block;
  width: 100%;
  background-color: grey;
}

.pdf-content {
  background-color: #FFFFFF;
  padding: 50px;
  width: 100%;
}

.pdf-content a {
  color: #000000;
}

.logo-image img{
  height: 40px;
  overflow: hidden;
  float: left;
  padding: 5px;
}


/*Responsive*/

@media (max-width: 700px) {
  .topnav {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .topnav a{
    margin: auto;
    width: 100%;
  }

  .footer {
    margin: auto;
    text-align: center;
  }

  .logo-image img{
    float: none;
    margin: auto;
  }

  .content {
    width: 100%;
  }

  .row1, .row2, .row3, .row4 {
    flex: 100%;
  }

  .hero-overlay {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 90%;
  text-align: left;
  margin-left: 9.4%;
  margin-bottom: 4.7%;
  font-size:4vw;
  padding: 0px;
  line-height: 100%;
  }
}
